pkgbase = bcachefs-tools
	pkgdesc = BCacheFS filesystem utilities
	pkgver = 1.31.1
	pkgrel = 2
	epoch = 3
	url = https://bcachefs.org/
	arch = x86_64
	license = GPL-2.0-only
	makedepends = cargo
	makedepends = clang
	makedepends = git
	makedepends = jq
	makedepends = llvm
	makedepends = pkgconf
	makedepends = valgrind
	depends = bash
	depends = fuse3
	depends = gcc-libs
	depends = libaio.so
	depends = libaio
	depends = libblkid.so
	depends = libuuid.so
	depends = util-linux-libs
	depends = libkeyutils.so
	depends = keyutils
	depends = libsodium.so
	depends = libsodium
	depends = liburcu
	depends = libz.so
	depends = zlib
	depends = libzstd.so
	depends = zstd
	depends = lz4
	depends = libudev.so
	depends = systemd-libs
	depends = udev
	options = !lto
	source = git+https://github.com/koverstreet/bcachefs-tools.git#tag=v1.31.1
	b2sums = 9c91b8807ea3f814ce7e6e7ac28ed2c4c534668199bf26d985439e32ada16b5d29b5d3fc3927331a398b4a70e0852ff6d17b0913c5f345b37732ad07306b93f9

pkgname = bcachefs-tools

pkgname = bcachefs-dkms
	depends = dkms
