pkgbase = bcachefs-tools
	pkgdesc = BCacheFS filesystem utilities
	pkgver = 1.32.0
	pkgrel = 1
	epoch = 3
	url = https://bcachefs.org/
	arch = x86_64
	license = GPL-2.0-only
	makedepends = cargo
	makedepends = clang
	makedepends = git
	makedepends = jq
	makedepends = llvm
	makedepends = pkgconf
	makedepends = valgrind
	depends = bash
	depends = fuse3
	depends = gcc-libs
	depends = libaio.so
	depends = libaio
	depends = libblkid.so
	depends = libuuid.so
	depends = util-linux-libs
	depends = libkeyutils.so
	depends = keyutils
	depends = libsodium.so
	depends = libsodium
	depends = liburcu
	depends = libz.so
	depends = zlib
	depends = libzstd.so
	depends = zstd
	depends = lz4
	depends = libudev.so
	depends = systemd-libs
	depends = udev
	options = !lto
	source = git+https://github.com/koverstreet/bcachefs-tools.git#tag=v1.32.0
	b2sums = 2dc320c94789f79e5c28577ee38ebc9dc4cf8df4468ede1835b7aeed9c0487eaa2521af56d7244cf7c14fc0f3922d6c06cbd218f1a66ca4510d67d3c196a0413

pkgname = bcachefs-tools

pkgname = bcachefs-dkms
	depends = dkms
