pkgbase = bcachefs-tools
	pkgdesc = BCacheFS filesystem utilities
	pkgver = 1.25.2
	pkgrel = 1
	epoch = 3
	url = https://bcachefs.org/
	arch = x86_64
	license = GPL-2.0-only
	makedepends = cargo
	makedepends = clang
	makedepends = llvm
	makedepends = pkgconf
	makedepends = valgrind
	depends = bash
	depends = fuse3
	depends = gcc-libs
	depends = libaio.so
	depends = libaio
	depends = libblkid.so
	depends = libuuid.so
	depends = util-linux-libs
	depends = libkeyutils.so
	depends = keyutils
	depends = libsodium.so
	depends = libsodium
	depends = liburcu
	depends = libz.so
	depends = zlib
	depends = libzstd.so
	depends = zstd
	depends = lz4
	depends = libudev.so
	depends = systemd-libs
	depends = udev
	options = !lto
	source = bcachefs-tools-1.25.2.tar.gz::https://github.com/koverstreet/bcachefs-tools/archive/refs/tags/v1.25.2.tar.gz
	b2sums = 11fe3893901d6e4fc7e647e8377b206eedd9f6438cc711255e498f148a2302a0d6dd7f0b62f6f9c6024e37fb4168bc4b56090e10639e622f560bcba9188c147e

pkgname = bcachefs-tools
